/*start main style  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background: white;
}

.container{
    width: 1360px;
    margin: auto;
}
/* end main style  */


/* start navbar section style  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.menuContainer{
    display: flex;
    gap: 15px;
    list-style: none;
}
.menuContainer li a{
    text-decoration: none;
    color: black;
}
.navbtn{
    padding: 10px 15px;
    background: #30B868;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.navbtn:hover{
    background: #0000008c;
}
.logo{
    cursor: pointer;
}
/* end navbar section style  */