/*start main style  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
   
}

.container{
    width: 1360px;
    margin: auto;
}
/* end main style  */


/* start navbar section style  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.menuContainer{
    display: flex;
    gap: 30px;
    list-style: none;
}
.menuContainer li a{
    text-decoration: none;
    color: black;
}
.navbtn{
    padding: 10px 15px;
    background: #30B868;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.navbtn:hover{
    background: #0000008c;
}
.logo{
    cursor: pointer;
}
/* end navbar section style  */

/* start banner section style  */
.banner{
    background: url('../assets/hero-bg.png');
    padding: 150px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.bannerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top_text{
    background: #fff;
    color: #30B868;
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.before{
    background: #30B868;
    border-radius: 50%;
    width: 5px;  
    height: 5px;
    box-shadow: 0px 0px 0px 3px #30b8687a;
}
.bannerContent h1{
    font-size: 65px;
    color: white;
    margin-top: 15px;
    text-transform: capitalize;
    font-weight: 800;
    text-align: center;
}
.bannerContent h1 span{
    color: #30B868;
}
.heroDescription{
    font-size: 16px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    margin-top: 15px;
}
.herobtnContainer{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.button {
    padding: 15px 15px;
    background: #2ea560;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
#btn2{
    background: rgba(255, 0, 0, 0) ;
    border: 1px solid #fff;
}
#btn1:hover{
    background: rgba(255, 0, 0, 0) ;
    border: 1px solid #fff;
    transition: 0.3s;
}
#btn2:hover{
    background: #F7F6F2;
    color: #000;
    border:none;
    transition: 0.3s;
}

/* end banner section style   */

/* start card section style  */
.cardInfo{
    text-align: center;
    margin-top: 60px;
}
.cardInfo h1{
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.cardInfo p{
    font-size: 15px;
    color: #535252;
    margin-bottom: 35px;
}
.cardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.card{
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:35px 30px;
    /* border: 1px solid black; */
    box-shadow: 0px -9px 16px 0px #dad8d886;
    gap: 25px;
    border-radius: 5px;
}
.card h1{
    font-size: 25px;
}
.card p{
    font-size: 14px;
    color: #535252;
}
.img{
    background: #F95555;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end card section  */

.brainSection{
    margin-top: 50px;
    padding: 50px 0px;
}
.brainContainer{
    display: flex;
    gap: 80px;
}
.brainrightSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.brainrightSection h2{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #469165;
}
.brainrightSection h1{
    font-size: 50px;
    text-transform: capitalize;
}
.brainrightSection p{
    font-size: 15px;
    color: #535252;
    margin-bottom: 35px;
    line-height: 20px;
}
.brainrightSection ul li{
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

/* end brain section style  */
.earlyContainer {
    background: #F7F6F2;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 15px;
    margin-top: 50px;
}
.earlyContainer h1{
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}
.earlyContainer p{
    font-size: 15px;
    color: #535252;
    line-height: 25px;
}
#earlyBtn:hover {
    background: #292828;
    transition: 0.3s;
}
/* end early section  */
/* start footer section  */
footer{
    background: #001931;
    color: white;
    padding: 120px 0px 0px 0px;
    margin-top: 100px;
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    margin-bottom: 100px;
}
.footerContainer p {
    font-size: 20px;
}
.footerContainer ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.footerContainer ul li{
    background: #ddd;
    padding: 1px;
    border-radius: 50%;
}
.footerContainer ul li a{
    text-decoration: none;
    color: black;
}
.footerContainer ul li:hover{
    background: #ffbf10;
    transition: 0.3s;
}
.footerContainer ul li:hover a{
    color: white;
    transition: 0.3s;
}
.hr{
    width: 100%;
    height: 1px;
    border-top: 1px solid #414040;
}
.copyright{
    padding: 35px 0px;
    text-align: center;
}
.copyright p{
    font-size: 16px;
    color: #fafafa;
}
/* end footer section  */